* {
    margin: 0;
    padding: 0;
}
body {
    font-family: Roboto, sans-serif;
    color: #F9FaF8;
}
a, a:visited, a:hover  {
    text-decoration: none;
}
a {
    color: #E5E7EB;
}
a:hover {
    color: #F9FaF8;
}

/* Header section */
header {
    padding: 16px 7%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #1F2937;
    gap: 8px;
}
header h2 {
    text-align: center;
    font-size: 24px;
    font-style: italic;
    color: #3882F6;
}
.header-links {
    display: flex;
    gap: 16px;
}

/* Hero text section */
.hero-container {
    padding: 64px 10%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 7%;
    background-color: #1F2937;
}
.hero-container > img {
    height: 256px;
}
.hero-text {
    margin-bottom: 16px;
    flex: 0 1 50%;
}
.hero-text h1 {
    margin: 16px 0;
    font-size: 48px;
    color: #F9FaF8;
}
.hero-text div {
    color: #E5E7EB;
}
.hero-text > button {
    margin: 16px 0;
    padding: 8px 16px;
    border: none;
    border-radius: 8px;
    font-size: 16px;
    font-weight: 700;
    background-color: #3882F6;
    color: #F9FaF8;
    cursor: pointer;
}

/* Infocards section */
.infocards-container {
    padding: 64px 10%;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #1F2937;
}
.infocards-container > h2 {
    font-size: 24px;
    font-weight: 700;
}
.infocards-group {
    margin: 16px 0;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    gap: 48px;
}
.infocard {
    text-align: center;
    flex: 0 0 172px;
}
.infocard a {
    color: #1F2937;
}
.infocard img {
    height: 128px;
    width: 180px;
    border: 3px solid #3882F6;
    border-radius: 8px;
}

/* Testimonial section */
.testimonial {
    padding: 64px 20%;
    display: flex;
    flex-direction: column;
    font-size: 24px;
    background-color: #E5E7EB;
    color: #1F2937;
}
.testimonial > p {
    font-family: 'Times New Roman', Times, serif;
    font-style: italic;
    line-height: 1.6;
}
.testimonial > span {
    padding-left: 128px;
    font-weight: 700;
}

/* Signup section */
.signup-container {
    padding: 64px 5%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.signup-modal {
    min-width: 80%;
    min-height: 82px;
    padding: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 12%;
    border-radius: 8px;
    background-color: #3882F6;
}
.signup-modal h3 {
    margin: 5px 0;
}
.signup-modal > button {
    min-width: 128px;
    min-height: 32px;
    border-radius: 8px;
    border: 2px solid white;
    background-color: #3882F6;
    color: white; 
    cursor: pointer;
}

/* Footer section */
footer {
    text-align: center;
    padding: 16px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #1F2937;
}