body {
    padding: 0;
    margin: 0;
    font-family: Roboto, sans-serif;
    color: #F9FaF8;
}

/* Header styling*/
a, a:visited, a:hover  {
    text-decoration: none;
}
a {
    color: #E5E7EB;
}
a:hover {
    color: white;
}
header {
    padding: 16px 7%;
    background-color: #1F2937;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header-logo {
    font-size: 24px;
    font-weight: 700;
    font-style: italic;
    color: #3882F6;
}
.header-links {
    display: flex;
    gap: 16px;
}

/* Hero text section */
.hero-container {
    padding: 64px 10%;
    background-color: #1F2937;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    gap: 32px;
}
.hero-container > img {
    height: 256px;
}
.hero-text {
    max-width: 50%;
}
.hero-text h1 {
    font-size: 48px;
    margin: 16px 0;
    padding: 0;
}
.hero-text > div {
    color: #E5E7EB;
}
.hero-text > button {
    font-family: Roboto, sans-serif;
    font-size: 16px;
    font-weight: 700;
    background-color: #3882F6;
    color: white;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    padding: 8px 16px;
    margin: 16px 0;
}

/* Infocards section */
.infocards-container {
    color: #1F2937;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 64px 10%;
}
.infocards-container > h2 {
    font-size: 24px;
    font-weight: 700;
}
.infocards-group {
    display: flex;
    gap: 48px;
    justify-content: space-evenly;
    flex-wrap: wrap;
    margin: 16px 0;
}
.infocard {
    text-align: center;
    max-width: 180px;
}
.infocard a {
    color: #1F2937;
}
.infocard img {
    height: 128px;
    width: 180px;
    border: 4px #3882F6 solid;
    border-radius: 8px;
}

/* Testimonial section */
.testimonial {
    background-color: #E5E7EB;
    color: #1F2937;
    font-size: 24px;
    padding: 64px 20%;
    display: flex;
    flex-direction: column;
}
.testimonial > p {
    font-family: 'Times New Roman', Times, serif;
    line-height: 1.4;
    font-style: italic;
}
.testimonial > span {
    font-weight: 700;
    padding-left: 128px;
}

/* Signup section */


footer {
    padding: 16px;
    background-color: #1F2937;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}